/* .header-main {
  display: flex;
  justify-content: space-between;
  margin: 0 14px;
}
.logoImage {
  width: 100px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.linkss {
  display: flex;
  justify-content: space-between;
}
button {
  height: 24px;
  width: 56px;
}
ul,
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 12px;
} */
